.containerFriend {
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.itemFriend {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: mediumpurple;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour un meilleur effet visuel */
    padding: 10px;


}


.itemFriend h2 {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 10px 0;

}

.itemFriend p {
    color: #0d0d0d;
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    margin: 0 0 10px 0;

}

.itemFriend button {
    padding: 15px;
    margin: 15px;
    border-radius: 6px;
    background-color: rebeccapurple;
    border-style: none;
    cursor: pointer;
}

.itemFriend button:hover {

    transition: 0.3s;
    transform: scale(1.2);
    background-color: purple;
}

.friends-title{
    margin: auto;
    width: 50%;
}

.img-friend{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px #555555;
    transition: all 0.1s;
}

.sex{
    font-size: 40px;
}